@media screen and (min-width: 450px) {
  .s1 {
    width: 300px;
    height: 300px; }
    .s1 img {
      width: 100%; }

  .s2 {
    width: 300px;
    height: 300px; }
    .s2 img {
      width: 100%; }

  .s3 {
    width: 500px;
    height: 500px; }
    .s3 img {
      width: 100%; }

  .stand img {
    width: 450px; }

  .working h3 {
    text-align: center; }

  .tubelight ul {
    position: absolute;
    top: 0%;
    left: 12%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px; }

  .quote {
    margin: 0px 50px 100px 50px;
    text-align: center; }

  .gd p {
    padding-left: 10px; }

  .dot {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #777878;
    margin-bottom: 20px; }

  .icn {
    margin-top: 20px; } }
@media screen and (max-width: 451px) {
  .icn {
    margin-top: 20px; }

  .dot {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #777878;
    margin-top: 20px;
    margin-bottom: 20px; }

  .gd p {
    padding-left: 0px; }

  .quote {
    margin: 0px 20px 40px 20px;
    text-align: center; }

  .hidemob {
    display: none; }

  .gd img {
    width: 100%; }

  .tubelight ul {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 10px; }

  .s1 {
    width: 170px;
    height: 170px; }
    .s1 img {
      width: 100%; }

  .s2 {
    width: 170px;
    height: 170px; }
    .s2 img {
      width: 100%; }

  .s3 {
    width: 250px;
    height: 250px; }
    .s3 img {
      width: 100%; }

  .stand img {
    width: 260px; }

  .working h3 {
    text-align: center; } }
body {
  background: #000; }

/* SPINER START*/
.s1 {
  animation-name: spin;
  animation-duration: 15000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
.s2 {
  animation-name: spinn;
  animation-duration: 27000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spinn {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.s3 {
  animation-name: spinnn;
  animation-duration: 27000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
  .s3 img {
    width: 100%; }

@keyframes spinnn {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
/* SPINER ENDS */
/* MERGE SPINERS */
.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Parallex */
.parallax {
  background-image: url("../assets/b1.jpg");
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.working h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding-top: 20px;
  color: #2a2b33; }
.working h3 {
  padding-top: 30px;
  color: #abaaa7;
  font-family: 'Unica One', cursive;
  font-size: 40px; }
.working p {
  text-align: justify;
  color: #575957;
  font-size: 20px;
  font-family: 'Oswald', sans-serif; }

.tubelight ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-top: 40px;
  height: 10px;
  width: 200px;
  background: #fff; }
.tubelight ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 20px;
  height: 100%;
  background: #262626; }
.tubelight ul li:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 20px;
  height: 100%;
  background: #262626; }
.tubelight ul li:nth-child(1) {
  animation: colorchange 1s  1s infinite;
  -webkit-animation: colorchange 1s linear 0s infinite alternate; }
@keyframes colorchange {
  0% {
    background: #fff;
    box-shadow: none; }
  10% {
    background: #b0ffab;
    box-shadow: 0 0 150px #0ffc00,0 0 150px #0ffc00,0 0 150px #0ffc00,0 0 150px #0ffc00; }
  15% {
    background: #fff;
    box-shadow: none; }
  20% {
    background: #b0ffab;
    box-shadow: 0 0 150px #0ffc00,0 0 150px #0ffc00,0 0 150px #0ffc00,0 0 150px #0ffc00; }
  70% {
    background: #b0ffab;
    box-shadow: 0 0 150px #0ffc00,0 0 150px #0ffc00,0 0 150px #0ffc00,0 0 150px #0ffc00; }
  75% {
    background: #fff;
    box-shadow: none; }
  100% {
    background: #fff;
    box-shadow: none; } }
.blinktext {
  animation: blinkback 1s  1s infinite;
  -webkit-animation: blinkback 1s linear 0s infinite alternate; }

@keyframes blinkback {
  0% {
    color: #2a2b33;
    text-shadow: none; }
  5% {
    color: #00FF00;
    text-shadow: 0px 0px 40px #00FF00; }
  15% {
    color: #2a2b33;
    text-shadow: none; }
  30% {
    color: #00FF00;
    text-shadow: 0px 0px 40px #00FF00; }
  60% {
    color: #00FF00;
    text-shadow: 0px 0px 40px #00FF00; }
  75% {
    color: #2a2b33;
    text-shadow: none; }
  100% {
    color: #2a2b33;
    text-shadow: none; } }
.contactbutton {
  background-color: #00FF00;
  border-radius: 5px;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border: none; }

#edit {
  color: #575957;
  font-size: 48px;
  margin-top: 15px; }
  #edit p {
    color: #575957; }

#edit:hover {
  color: #00FF00;
  text-shadow: 0 0 15px #00FF00, 0 0 15px #00FF00; }
  #edit:hover p {
    color: #00FF00; }

/*# sourceMappingURL=free.css.map */
